<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://lh3.googleusercontent.com/-c9bKgaRfC3Q/AAAAAAAAAAI/AAAAAAAAJUE/Eo2MLCqyiZs/s0-c-k-no-ns/photo.jpg">
    <title>ECSDIshop | Valoración de productos</title>
</head>
<body>
    <h1>Productos Valorados/ a valorar</h1>
    <br>
    <table cellpadding="5px", border="2">
        <tr>
            <th><b>NOMBRE</b></th>
            <th><b>MARCA</b></th>
            <th><b>MODELO</b></th>
            <th><b>PRECIO</b></th>
            <th><b>PUNTAJE</b></th>
        </tr>
            {% for item in products %}
                <tr>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.marca }}</td>
                    <td>{{ item.modelo }}</td>
                    <td>{{ item.precio }}</td>
                    <td><input type="number" name="puntuacion" value="{{ 0 }}"></td>
                    <td><input type="checkbox" name="puntuacion" value="{{ products.index(item) }}"></td>
                </tr>
            {% endfor %}
    </table>
    <br>
    <a href="./busqueda">Volver</a>
</body>
</html>